@import 'tailwindcss';

@theme {
  --color-bg: #f4f3f0;
  --color-text-main: #1e1e1e;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-lora);
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
}
